*.o
*.exe
bin/*
build
build/*
wasmbuild
wasmbuild/*
*.dll
.vscode
roms/*.sav
dist
*.code-workspace
!BrickGameWin
!BrickGameWin/*.exe
!BrickGameWin/*.dll
BrickGame*/emulator_prefs.cfg
SteamStaging/output
SteamDemoStaging/output

