*.o
*.exe
bin/*
build
build/*
wasmbuild
wasmbuild/*
*.dll
.vscode
roms/*.sav
dist
*.code-workspace
!BrickGameWin
!BrickGameWin/*.exe
!BrickGameWin/*.dll
!BrickGameDemoWin
!BrickGameDemoWin/*.exe
!BrickGameDemoWin/*.dll
!SteamStaging/content/windows_depot/*
!SteamStaging/content/mac_depot/*
!SteamDemoStaging/content/windows_depot/*
!SteamDemoStaging/content/mac_depot/*
BrickGame*/emulator_prefs.cfg
*.DS_Store
SteamStaging/output
SteamDemoStaging/output