*.o
*.exe
bin/*
build
build/*
wasmbuild
wasmbuild/*
*.dll
.vscode
roms/*.sav
dist
*.code-workspace
!BrickGameWin
!BrickGameDemoWin
!BrickGameWin/gamedata.gtr
!BrickGameDemoWin/gamedata.gtr
!BrickGameWin/*.exe
!BrickGameDemoWin/*.exe
!BrickGameWin/*.dll
!BrickGameDemoWin/*.dll
!SteamStaging/content/windows_depot/*
!SteamStaging/content/mac_depot/*
!SteamDemoStaging/content/windows_depot/*
!SteamDemoStaging/content/mac_depot/*
!*/gamedata.gtr
*/emulator_prefs.cfg
*.DS_Store
